
<section class="container pt-3 mb-3">
  <h2 class="h3 block-title text-center">Welcome to our <small><u>e-Commerce-boot</u></small> modern app!</h2>
  <div *ngFor="let c of categories" class="row pt-5 mt-30">
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
      <a class="card" routerLink="#">
        <div class="box-shadow bg-white rounded-circle mx-auto text-center"
          style="width: 90px; height: 90px; margin-top: -45px;"><img src="{{ c?.imageUrl }}" /></div>
        <div class="card-body text-center">
          <h3 class="card-title pt-1">{{ c?.categoryTitle }}</h3>
          <p class="card-text text-sm">
            <br><span>helop</span>
          </p>
          <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
              class="fe-icon-arrow-right"></i></span>
        </div>
      </a>
    </div>
  </div>
</section>

